.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 300px;
  height: 150px;
  padding-bottom: 10px;
}

header input {
  height: 25px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #DB3A34;
  color: #323031;
  border: 5px;
}

header button {
  width: 100px;
  height: 25px;
  background-color: #084C61;
  color: #FFC857;
  border-radius: 5px;
  margin-bottom: 20px;
}

header h3 {
  color: #FFC857
}
.PokeCard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.PokeCard div {
  padding: 10px;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.PokeCard p {
  font-size: x-large;
  color: #FFC857;
}

.Grass {
  background-color: green;
}

.Fire {
  background-color: red;
}

.Water {
  background-color: blue;
}

.Lightning {
  background-color: yellow;
}

.Psychic {
  background-color: purple;
}

.Fighting {
  background-color: brown;
}

.Darkness {
  background-color: black;
}

.Metal {
  background-color: silver;
}

.Dragon {
  background-color: gold;
}

.Fairy {
  background-color: pink;
}

.Colorless {
  background-color: white;
}

.Trainer {
  background-color: yellowgreen;
}