.App {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  flex-direction: column;
}

.App h1 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 400px;
  height: 200px;
  padding-bottom: 10px;
}

header input {
  margin-bottom: 5px;
}

header button {
  width: 100px;
}

.PokeCard {
  margin: 20px;
}