.App {
  background-color:rgb(235, 191, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  flex-direction: column;
}

.App h1 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 400px;
  height: 200px;
  padding-bottom: 10px;
}

header input {
  margin-bottom: 5px;
}

header button {
  width: 100px;
}

.PokeCard {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.PokeCard div {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}